* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    
}
/* navbar styling 
   Build flex-box then place other flex-boxes inside, and then move/adjust the nested flex-boxes within parent box.
*/

nav,
nav * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav {
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 1.25em;
    background-color: black;
    color: white;
}

#logo {
    width: 15%;
    height: 100%;
    background-color: green;
}

#nav-links {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

a {
    width: 33%;
    height: 100%;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
}

.search-bar {
    display: flex;
    justify-content: space-evenly;
}



/* Panel stylings. Same as above. */

.top-container {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 10px;
    padding-top: 3vh;

}

/* .bottom-container {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    flex-basis: content;
    gap: 10px;
    
} */

.card {
    display: flex;
    justify-content: center;   
    flex-direction: column;
    border: solid 2px black;
    gap: 10px;
    max-height: 20%;
    max-width: 25%;
    padding: 1%;   
    contain: content;
}

img {
    width: 180px;
}

.profile {
    width: 15%;
    justify-content: space-evenly;
}



#profile-picture {
    border: solid 1px white;
    border-radius: 20%;
    height: 30px;
    width: 30px;
}




/* Dropdown menu thing I found on W3 schools.  */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }